<header
  class="cs_site_header cs_style_1 cs_primary_color cs_sticky_header cs_white_bg cs_sticky_active"
>
  <div class="cs_main_header">
    <div class="container">
      <div class="cs_main_header_in">
        <div class="cs_main_header_left">
          <a class="cs_site_branding" href="index.html">
            <img src="assets/images/logo.svg" alt="Logo" />
          </a>
        </div>
        <div class="cs_main_header_right">
          <div class="cs_header_search_form_wrap">
            <form action="#" class="cs_header_search_form">
              <input
                type="text"
                placeholder="Search for products and brands"
                class="cs_header_search_field"
              />
              <button class="cs_header_submit_btn">
                <img src="assets/images/icons/search.svg" alt="" />
              </button>
            </form>
          </div>
          <button class="cs_mobile_search_toggle cs_mobile_show" type="button">
            <img src="assets/images/icons/search.svg" alt="" />
          </button>
          <ul class="cs_header_list cs_mp_0">
            <li>
              <div class="cs_header_credential_btns">
                <a href="login.html"
                  ><img src="assets/images/icons/user.svg" alt=""
                /></a>
                <span>
                  <a routerLink="/auth/login">Log in</a>
                  /
                  <a routerLink="/auth/register">Sign Up</a>
                </span>
              </div>
            </li>
            <li>
              <button type="button" class="cs_cart_btn">
                <img src="assets/images/icons/bag.svg" alt="" />
                <span class="cs_cart_label cs_accent_bg cs_white_color">3</span>
                <span>My Bag <b>($54.97)</b></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="cs_bottom_header">
    <div class="container">
      <div class="cs_bottom_header_in">
        <div class="cs_bottom_header_left">
          <div class="cs_nav_wrap">
            <div class="cs_site_branding_wrap cs_mobile_show">
              <a class="cs_site_branding" href="index.html">
                <img src="assets/images/logo.svg" alt="Logo" />
              </a>
              <button class="cs_close_mobile_active">
                <i class="fa-regular fa-circle-xmark"></i>
              </button>
            </div>
            <div class="cs_nav_out">
              <app-category-dropdown></app-category-dropdown>
              <nav class="cs_nav cs_mobile_active">
                <span class="cs_mobile_tab_btn cs_mobile_show">Menu</span>
                <ul class="cs_nav_list">
                  <li>
                    <a href="index.html">Home</a>
                  </li>
                  <li>
                    <a href="shop.html">Shop</a>
                  </li>

                  <li>
                    <a href="product-details.html">Product</a>
                  </li>

                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="cs_bottom_header_right">
          <a href="#" class="cs_header_number_wrap">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.35"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-headset"
            >
              <path
                d="M3 11h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-5Zm0 0a9 9 0 1 1 18 0m0 0v5a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3Z"
              ></path>
              <path d="M21 16v2a4 4 0 0 1-4 4h-5"></path>
            </svg>
            <span class="cs_accent_color cs_fs_24 cs_header_number"
              >+99327456</span
            >
            <span class="cs_header_number_text">24/7 Support Center</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="cs_header_overlay_mobile"></div>
  <span class="cs_menu_toggle"><span></span></span>
</header>
<!-- <div class="cs_site_header_height_1"></div>
<div class="cs_cart_card_wrap">
  <div class="cs_cart_card">
    <div class="cs_cart_card_head cs_gray_bg">
      <h3 class="mb-0 cs_fs_18 cs_semibold">Your Cart (3)</h3>
      <button class="cs_cart_close">Close</button>
    </div>
    <div class="cs_cart_card_body">
      <div class="cs_cart_card_body_in">
        <ul class="cs_cart_card_list cs_mp_0">
          <li>
            <div class="cs_cart_card_item">
              <div class="cs_cart_card_item_left">
                <img src="assets/images/product_1.png" alt="Product" />
              </div>
              <div class="cs_cart_card_item_right">
                <h3 class="cs_fs_18 cs_medium">Rosewater Hydrating Mist</h3>
                <div class="cs_quantity cs_style_1">
                  <button class="cs_quantity_button cs_decrement">
                    <i class="fa-solid fa-minus"></i>
                  </button>
                  <span class="cs_quantity_input cs_primary_color cs_medium"
                    >1</span
                  >
                  <button class="cs_quantity_button cs_increment">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
                <p class="mb-0">
                  1 x <span class="cs_primary_color cs_medium"> $19.99</span>
                </p>
                <button class="cs_cart_card_item_remove" type="button">
                  <i class="fa-regular fa-circle-xmark"></i>
                </button>
              </div>
            </div>
          </li>
          <li>
            <div class="cs_cart_card_item">
              <div class="cs_cart_card_item_left">
                <img src="assets/images/product_2.png" alt="Product" />
              </div>
              <div class="cs_cart_card_item_right">
                <h3 class="cs_fs_18 cs_medium">Charcoal Detoxifying Mask</h3>
                <div class="cs_quantity cs_style_1">
                  <button class="cs_quantity_button cs_decrement">
                    <i class="fa-solid fa-minus"></i>
                  </button>
                  <span class="cs_quantity_input cs_primary_color cs_medium"
                    >1</span
                  >
                  <button class="cs_quantity_button cs_increment">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
                <p class="mb-0">
                  1 x <span class="cs_primary_color cs_medium"> $14.99</span>
                </p>
                <button class="cs_cart_card_item_remove" type="button">
                  <i class="fa-regular fa-circle-xmark"></i>
                </button>
              </div>
            </div>
          </li>
          <li>
            <div class="cs_cart_card_item">
              <div class="cs_cart_card_item_left">
                <img src="assets/images/product_3.png" alt="Product" />
              </div>
              <div class="cs_cart_card_item_right">
                <h3 class="cs_fs_18 cs_medium">Rosewater Hydrating Mist</h3>
                <div class="cs_quantity cs_style_1">
                  <button class="cs_quantity_button cs_decrement">
                    <i class="fa-solid fa-minus"></i>
                  </button>
                  <span class="cs_quantity_input cs_primary_color cs_medium"
                    >0</span
                  >
                  <button class="cs_quantity_button cs_increment">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
                <p class="mb-0">
                  1 x <span class="cs_primary_color cs_medium"> $19.99</span>
                </p>
                <button class="cs_cart_card_item_remove" type="button">
                  <i class="fa-regular fa-circle-xmark"></i>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="cs_cart_card_footer">
      <div class="cs_cart_card_subtotal">
        <span>Subtotal:</span>
        <span class="cs_primary_color cs_semibold">$54.97</span>
      </div>
      <a href="cart.html" class="cs_btn cs_style_2 cs_medium cs_type_1 w-100">
        <span>View Cart</span>
      </a>
      <div class="cs_height_10 cs_height_lg_10"></div>
      <a
        href="checkout.html"
        class="cs_btn cs_style_1 cs_medium cs_type_1 w-100"
      >
        <span>Checkout</span>
      </a>
    </div>
  </div>
  <div class="cs_cart_overlay"></div>
</div> -->
